{% extends 'base.html.twig' %}

{% block title %}Currency List{% endblock %}

{% block pageheader %}
    <h1>Currency List</h1>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('currency_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}

            <a href="{{ path('currency_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>

    {% embed 'currency/partial/table.html.twig' %}
    {% endembed %}


{% endblock %}
