{% extends 'popup.html.twig' %}

    {% block title %}New Currency {% endblock %}

    {% block body %}
        <h1>New Currency</h1>

        {% embed 'currency/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
