{% extends '@!NinesBlog/post/show.html.twig' %}


{% block body %}
        <div class="blog-content">
            <div class="page-header">
                {{ block('pageheader') }}
            </div>
            {{ post.content|raw }}
        </div>
{% endblock %}