@import 'variables';
@import 'mixins';

html {
  position: relative;
  min-height: 100vh;
}

body {
  background: $color_beige_light;
  font: $body_font;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 0;
  font-family: $lato;

  > .container {
    flex: 1;
    flex-grow: 2;
    margin-bottom: 60px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading_font;
}

em,
strong {
  font: $body_font_bold;
}

.container p {
  // font-size: 1.25em;
  font-size: 1.5em;
  font-family: $cormorant_garamond;
}

.container table p,
.container .panel p {
  font-size: 1em;
  font-family: $lato;

  &:last-child {
    margin-bottom: 0;
  }
}


/* Footer */
.footer {
  height: 60px;
  background-color: $color_brown;
  color: $color_white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  @include link_underline($color_salmon, $color_white);

  p {
    margin: 0;
    font-family: $lato;
    font-size: 1em;
  }
}


.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px 4px 0 0;
  background-color: $color_red_dark;
  color: $color_white;

  &:active,
  &:focus,
  &:hover {
    border-color: #eee #eee #ddd;
    text-decoration: none;
    background-color: $color_red;
    color: $color_white;
  }
}

.nav-tabs > li.active > a {
  // border-color: #eee #eee #ddd;
  text-decoration: none;
  background-color: $color_red;
  color: $color_white;
  &:active,
  &:focus,
  &:hover {
    // border-color: #eee #eee #ddd;
    text-decoration: none;
    background-color: $color_red;
    color: $color_white;
  }
}




// collapsable form
h3.panel-title > a {

}







/* Custom app styles */
label.required::after {
  content: ' *';
  color: red;
  font-weight: bold;
}






/* tables */
table thead th {
  color: $color_white;
  background:$color_brown;
  border: $color_brown;
  font-weight: normal;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background: $color_beige;
  // &:hover {
  //   background: $color_white;
  // }
}
.table-hover > tbody > tr:hover {
  background: $color_beige_light;
}

// .table > tbody > tr > th {
//   // flex-shrink: 1;
//   // width: 10%;
//   white-space: normal;
// }
// .table > tbody > tr > td {
//   // flex-grow: 2;
//   // width: 100%;
// }

table.tablesorter thead tr {
    white-space: nowrap;
}
table.tablesorter thead tr .header:after {
    content: '↕';
}
table.tablesorter thead tr .headerSortUp:after {
    content: '↑';
}
table.tablesorter thead tr .headerSortDown:after {
    content: '↓';
}

th.sorted.asc:after, a.asc:after {
    content: '↓';
}

th.sorted.desc:after, a.desc:after {
    content: '↑';
}

div.tab-content {
  min-height: 200px;
  p {
    font-size: 14px;
    font-family: $lato;
  }
}

ul.columnated {
    list-style: none;
}

ul.columnated li {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    position: relative;
    margin-left: 1em;
}

ul.columnated li:before {
    content: '•';
    position: absolute;
    left: -1em;
}

@media (max-width: 480px) {
    ul.columnated {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 481px) and (max-width: 768px) {
    ul.columnated {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
    ul.columnated {
        list-style: none;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {
    ul.columnated {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

div.homepage {
  margin: 0 auto;
  max-width: 80ex;
}

div.homepage img {
  max-width: 100%;
}

/* make the search form checkboxes less bad. */
div.checkbox, div.radio {
  width: 30%;
  float: left;
}

div.collection-complex > div:not(:last-child) {
  padding-top: 15px;
  border: 1px solid rgba(128, 128, 128, 0.31);
}

div.embedded-form {
  border: 1px solid lightgrey;
  padding-top: 15px;
  padding-right: 15px;
}

/* Select2 typeaheads are a bit short. */
span.select2 {
  width: 100%!important;
}

p.help-block {
  font-size: 16px;
  font-family: $lato;
  color: $color_brown;
}

label {

}


// when there isn't a page title.
.container > .panel:first-child {
  margin-top: 80px;
}

.container > .alert:first-child {
  margin-top: 20px;
}



/* Start panels and tables */

.panel-body {
  background: #E1D8B7;
  font-size: 16px;
  font-family: $lato;
}

.panel-default > .panel-heading {
  background: #A62E3F;
  color: #ffffff;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background: #E6DFC6;
}


.page-header {
  margin-bottom: 0;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #E1D8B7 !important;
}

thead > tr > th {
  text-align: left;
  white-space: nowrap;
}




th {
 text-align: right;
}

// .col-sm-6 {
//   width: auto;
// }
// .col-sm-6:first-child {
//   /* width: 800px; */
//   /* white-space: nowrap; */
//   width: 110%;
// }
//
// .col-sm-6:first-child td:last-child {
//   padding-right: 1em;
// }
//
// .col-sm-6:last-child {
//   /* width: 300px; */
//   flex-grow: 4;
// }

.row {
  display: flex;
}
/* End tables and panels */



// buttons start
.btn-toolbar {
  margin-bottom: 1em;

  > .btn,
  > .btn-group,
  > .input-group {
    margin-left: 0;
  }
}

/*.btn-group {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)
      border-radius: 4px;
}*/

input.btn-default,
input.btn-primary,
a.btn-default,
a.btn-primary {
  /* Rectangle 10: */
  background: $color_red;
  border: 1px solid $color_brown;
  /* Submit button exampl: */
  font-family: $lato;
  line-height: 1em;
  // font-weight: 500;
  font-size: 14px;
  text-shadow: none;
  color: $color_white;
  text-align: left;
  border-radius: 4px;
  box-shadow: none;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: 0.125s ease-in-out all;

  &:link,
  &:visited {
    color: $color_white;
  }

  &:first-child,
  &:active,
  &:focus,
  &:hover {
    background-color: $color_salmon;
    color: $color_white;
    border-color: $color_red;
  }

  &:first-child {
    color: $color_brown;
    &:active,
    &:focus,
    &:hover {
      color: $color_white;
    }
  }
}
// buttons end

@include link_underline($color_red, $color_red);


/* Start navbar */
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-default {
  background: #623637;
  color: $color_white;
  /* border-color: #A62E3F; */
  border: 0;
  font-family: $cormorant_garamond;
  font-weight: 300;
  font-size: 20px;
  box-shadow: 0 2px 4px 0 $color_grey_translucent;
  margin: 0;
  border-radius: 0;
}

.navbar-nav > li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  > a {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 10px 20px 10px;
  }
}
.navbar-default .navbar-nav > li > a {
  color: $color_white;
  height: 75px;
}

.navbar-default a {
  color: $color_white;
}

// .navbar-default .navbar-nav {
//   display: flex;
//   flex-direction: column;
//   height: 75px;
//
// }

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #A62E3F;
  color: white;
}

.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
  font-size: 18px;
}

.navbar-default .navbar-collapse {
  margin: 0;
}

.navbar-nav:first-child > li > a {
  padding: 10px 20px 10px 0;
  > img {
    max-width: 220px;
    // background:blue;
  }
}

.navbar-default .navbar-nav:first-child > li > a:active,
.navbar-default .navbar-nav:first-child > li > a:focus,
.navbar-default .navbar-nav:first-child > li > a:hover {
  background-color: transparent;
}


.dropdown-menu {
  background-color: $color_red_dark;
  border: 0;
  border-radius: 0;
  font-family: $lato;

  > li {
    @include link($color_white, $color_white);

    &.divider {
      // height: 1px;
      // margin: 9px 0;
      // overflow: hidden;
      background-color: $color_white;
    }

    a {
      &:active,
      &:focus,
      &:hover {
        background-image: none;
        background-color: $color_red;
      }
    }
  }
}
/* End navbar */



.pagination > li {
  > a,
  > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    // color: #337ab7;
    text-decoration: none;
    // background-color: #fff;
    // border: 1px solid #ddd;
    height: 35px;
    background: $color_red;
    border: 1px solid $color_brown;
    color: $color_white;

    &:active,
    &:focus,
    &:hover {
      background: $color_salmon;
      border: $color_brown 1px solid;
      color: $color_brown;
    }
  }

  &.disabled {
    span {
      background-color: $color_brown;
      color: $color_white;
      border: 0;

      &:focus,
      &:hover {
        background: $color_brown;
        // border: $color_brown 1px solid;
        color: $color_white;
      }
    }
  }
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: $color_salmon;
  border: $color_brown 1px solid;
  color: $color_brown;
}
