[submodule "src/Nines"]
	path = src/Nines
	url=https://github.com/ubermichael/nines-bundles.git
    branch = master
[submodule "docs"]
	path = docs
	url=https://github.com/sfu-dhil/wphp-docs.git
	branch = master
