/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/data
/nbproject
/docs/ui/build/*
!/docs/ui/build/.gitkeep
/web/docs/*
!/web/docs/.gitkeep
/web/bower
app/cache
/nbproject
/coverage
/composer.phar
/.DS_Store
phpunit.xml
app/config/deploy.yml
.idea
etc
web/editor
web/js
app/Resources/views/jquery.collection.html.twig
