parameters:
	ignoreErrors:
		-
			message: "#^Return type \\(void\\) of method App\\\\Command\\\\UpdateEditionNumberCommand\\:\\:execute\\(\\) should be compatible with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: src/Command/UpdateEditionNumberCommand.php

		-
			message: "#^Return type \\(void\\) of method App\\\\Command\\\\UpdateEstcCommand\\:\\:execute\\(\\) should be compatible with return type \\(int\\) of method Symfony\\\\Component\\\\Console\\\\Command\\\\Command\\:\\:execute\\(\\)$#"
			count: 1
			path: src/Command/UpdateEstcCommand.php

		-
			message: "#^Call to an undefined method Traversable\\<int, App\\\\Entity\\\\TitleFirmrole\\>\\:\\:uasort\\(\\)\\.$#"
			count: 1
			path: src/Entity/Firm.php

		-
			message: "#^Call to an undefined method Traversable\\<int, App\\\\Entity\\\\TitleRole\\>\\:\\:uasort\\(\\)\\.$#"
			count: 1
			path: src/Entity/Person.php

		-
			message: "#^Property App\\\\Entity\\\\Title\\:\\:\\$totalPrice \\(int\\) does not accept float\\.$#"
			count: 1
			path: src/Entity/Title.php

		-
			message: "#^Method App\\\\Repository\\\\FirmRepository\\:\\:buildSearchQuery\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repository/FirmRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PersonRepository\\:\\:buildSearchQuery\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Method App\\\\Repository\\\\TitleRepository\\:\\:arrayPart\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repository/TitleRepository.php

		-
			message: "#^Method App\\\\Repository\\\\TitleRepository\\:\\:buildSearchQuery\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repository/TitleRepository.php

		-
			message: "#^Method App\\\\Repository\\\\TitleRepository\\:\\:fulltextPart\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repository/TitleRepository.php

		-
			message: "#^Method App\\\\Services\\\\EstcMarcImporter\\:\\:getDates\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/EstcMarcImporter.php

		-
			message: "#^Method App\\\\Services\\\\EstcMarcImporter\\:\\:getDates\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/EstcMarcImporter.php

		-
			message: "#^Method App\\\\Services\\\\EstcMarcImporter\\:\\:guessDimensions\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/EstcMarcImporter.php

		-
			message: "#^Method App\\\\Services\\\\EstcMarcImporter\\:\\:guessDimensions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/EstcMarcImporter.php

		-
			message: "#^Method App\\\\Services\\\\EstcMarcImporter\\:\\:guessFormat\\(\\) has parameter \\$fields with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/EstcMarcImporter.php

		-
			message: "#^Property App\\\\Services\\\\EstcMarcImporter\\:\\:\\$titleSourceRepository \\(App\\\\Repository\\\\TitleSourceRepository\\) does not accept Doctrine\\\\ORM\\\\EntityRepository\\<App\\\\Entity\\\\TitleSource\\>\\.$#"
			count: 1
			path: src/Services/EstcMarcImporter.php

		-
			message: "#^Method App\\\\Services\\\\MarcManager\\:\\:getFieldValues\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/MarcManager.php

		-
			message: "#^Method App\\\\Services\\\\OrlandoManager\\:\\:getField\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Services/OrlandoManager.php

		-
			message: "#^Method App\\\\Tests\\\\Entity\\\\CurrencyTest\\:\\:getData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Entity/CurrencyTest.php

		-
			message: "#^Method App\\\\Tests\\\\Entity\\\\FirmTest\\:\\:getEndDateData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Entity/FirmTest.php

		-
			message: "#^Method App\\\\Tests\\\\Entity\\\\FirmTest\\:\\:getStartDateData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Entity/FirmTest.php

		-
			message: "#^Method App\\\\Tests\\\\Entity\\\\PersonTest\\:\\:getDobData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Entity/PersonTest.php

		-
			message: "#^Method App\\\\Tests\\\\Entity\\\\PersonTest\\:\\:getDodData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Entity/PersonTest.php

		-
			message: "#^Method App\\\\Tests\\\\Entity\\\\TitleTest\\:\\:getTotalPriceData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Entity/TitleTest.php

		-
			message: "#^Method App\\\\Services\\\\EstcMarcImporterTest\\:\\:getDatesData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Services/EstcMarcImporterTest.php

		-
			message: "#^Method App\\\\Services\\\\EstcMarcImporterTest\\:\\:guessDimensionsData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Services/EstcMarcImporterTest.php

		-
			message: "#^Method App\\\\Tests\\\\Services\\\\SourceLinkerTest\\:\\:urlData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Services/SourceLinkerTest.php

