
/* 'Cormorant Garamond' normal 300*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 300;
    src: 
    url('../fonts/cormorant-garamond-normal-300.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-normal-300.woff') format('woff');
}

/* 'Cormorant Garamond' italic 300*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 300;
    src: 
    url('../fonts/cormorant-garamond-italic-300.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-italic-300.woff') format('woff');
}

/* 'Cormorant Garamond' normal 400*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../fonts/cormorant-garamond-normal-400.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-normal-400.woff') format('woff');
}

/* 'Cormorant Garamond' italic 400*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 400;
    src: 
    url('../fonts/cormorant-garamond-italic-400.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-italic-400.woff') format('woff');
}

/* 'Cormorant Garamond' normal 500*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    src: 
    url('../fonts/cormorant-garamond-normal-500.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-normal-500.woff') format('woff');
}

/* 'Cormorant Garamond' italic 500*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 500;
    src: 
    url('../fonts/cormorant-garamond-italic-500.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-italic-500.woff') format('woff');
}

/* 'Cormorant Garamond' normal 600*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    src: 
    url('../fonts/cormorant-garamond-normal-600.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-normal-600.woff') format('woff');
}

/* 'Cormorant Garamond' italic 600*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 600;
    src: 
    url('../fonts/cormorant-garamond-italic-600.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-italic-600.woff') format('woff');
}

/* 'Cormorant Garamond' normal 700*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    src: 
    url('../fonts/cormorant-garamond-normal-700.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-normal-700.woff') format('woff');
}

/* 'Cormorant Garamond' italic 700*/
@font-face {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 700;
    src: 
    url('../fonts/cormorant-garamond-italic-700.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-italic-700.woff') format('woff');
}

/* 'EB Garamond' normal 400*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../fonts/eb-garamond-normal-400.woff2') format('woff2'),
    url('../fonts/eb-garamond-normal-400.woff') format('woff');
}

/* 'EB Garamond' normal 500*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    src: 
    url('../fonts/eb-garamond-normal-500.woff2') format('woff2'),
    url('../fonts/eb-garamond-normal-500.woff') format('woff');
}

/* 'EB Garamond' normal 600*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 600;
    src: 
    url('../fonts/eb-garamond-normal-600.woff2') format('woff2'),
    url('../fonts/eb-garamond-normal-600.woff') format('woff');
}

/* 'EB Garamond' normal 700*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    src: 
    url('../fonts/eb-garamond-normal-700.woff2') format('woff2'),
    url('../fonts/eb-garamond-normal-700.woff') format('woff');
}

/* 'EB Garamond' normal 800*/
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    src: 
    url('../fonts/eb-garamond-normal-800.woff2') format('woff2'),
    url('../fonts/eb-garamond-normal-800.woff') format('woff');
}

/* 'EB Garamond' italic 400*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    src: 
    url('../fonts/eb-garamond-italic-400.woff2') format('woff2'),
    url('../fonts/eb-garamond-italic-400.woff') format('woff');
}

/* 'EB Garamond' italic 500*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    src: 
    url('../fonts/eb-garamond-italic-500.woff2') format('woff2'),
    url('../fonts/eb-garamond-italic-500.woff') format('woff');
}

/* 'EB Garamond' italic 600*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 600;
    src: 
    url('../fonts/eb-garamond-italic-600.woff2') format('woff2'),
    url('../fonts/eb-garamond-italic-600.woff') format('woff');
}

/* 'EB Garamond' italic 700*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 700;
    src: 
    url('../fonts/eb-garamond-italic-700.woff2') format('woff2'),
    url('../fonts/eb-garamond-italic-700.woff') format('woff');
}

/* 'EB Garamond' italic 800*/
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 800;
    src: 
    url('../fonts/eb-garamond-italic-800.woff2') format('woff2'),
    url('../fonts/eb-garamond-italic-800.woff') format('woff');
}

/* 'Lato' normal 100*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: 
    url('../fonts/lato-normal-100.woff2') format('woff2'),
    url('../fonts/lato-normal-100.woff') format('woff');
}

/* 'Lato' normal 300*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: 
    url('../fonts/lato-normal-300.woff2') format('woff2'),
    url('../fonts/lato-normal-300.woff') format('woff');
}

/* 'Lato' italic 100*/
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    src: 
    url('../fonts/lato-italic-100.woff2') format('woff2'),
    url('../fonts/lato-italic-100.woff') format('woff');
}

/* 'Lato' normal 400*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: 
    url('../fonts/lato-normal-400.woff2') format('woff2'),
    url('../fonts/lato-normal-400.woff') format('woff');
}

/* 'Lato' italic 300*/
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: 
    url('../fonts/lato-italic-300.woff2') format('woff2'),
    url('../fonts/lato-italic-300.woff') format('woff');
}

/* 'Lato' normal 700*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: 
    url('../fonts/lato-normal-700.woff2') format('woff2'),
    url('../fonts/lato-normal-700.woff') format('woff');
}

/* 'Lato' italic 400*/
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: 
    url('../fonts/lato-italic-400.woff2') format('woff2'),
    url('../fonts/lato-italic-400.woff') format('woff');
}

/* 'Lato' italic 700*/
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: 
    url('../fonts/lato-italic-700.woff2') format('woff2'),
    url('../fonts/lato-italic-700.woff') format('woff');
}

/* 'Lato' normal 900*/
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: 
    url('../fonts/lato-normal-900.woff2') format('woff2'),
    url('../fonts/lato-normal-900.woff') format('woff');
}

/* 'Lato' italic 900*/
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: 
    url('../fonts/lato-italic-900.woff2') format('woff2'),
    url('../fonts/lato-italic-900.woff') format('woff');
}
