@import 'variables';

@mixin link($color, $hover_color) {
  a {
    color: $color;
    text-decoration:none;
    border-bottom: 1px solid $color_link_border;
    transition: border-bottom 0.2s ease-in-out;
    &:link,
    &:visited {
      color: $color;
      text-decoration:none;
    }

    &:active,
    &:focus,
    &:hover {
      color: $hover_color;
      text-decoration:none;
      border-bottom-color: $color_link_border_hover;
    }
  }
}

@mixin link_underline ($color, $hover_color) {
  a {
    color: $color;
    text-decoration: underline;
    &:link,
    &:visited {
      color: $color;
      text-decoration: underline;
    }

    &:active,
    &:focus,
    &:hover {
      color: $hover_color;
      text-decoration: underline;
    }
  }
}

@mixin highlight($color: yellow, $hover: false, $hover-color: yellow){
  --start: #{rgba($color, 0.1)};
  --middle: #{rgba($color, 0.7)};
  --end: #{rgba($color, 0.3)};
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  border:1px solid transparent!important;
  background-image: linear-gradient(
                  to right,
                  var(--start),
                  var(--middle) 4%,
                  var(--end)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  @if ($hover){
    &:hover{
      --start: #{rgba($hover-color, 0.1)};
      --middle: #{rgba($hover-color, 0.7)};
      --end: #{rgba($hover-color, 0.3)};
      border:1px solid transparent!important;
      transition: background 0.2s ease-in-out;
    }

  }

}
