@import 'variables';



@mixin link($color, $hover_color) {
  a {
    color: $color;
    text-decoration:none;
    border-bottom: 1px solid $color_link_border;
    transition: all 0.2s ease-in-out;
    &:link,
    &:visited {
      color: $color;
      text-decoration:none;
    }

    &:active,
    &:focus,
    &:hover {
      color: $hover_color;
      text-decoration:none;
      border-bottom-color: $color_link_border_hover;
    }
  }
}

@mixin link_underline ($color, $hover_color) {
  a {
    color: $color;
    text-decoration: underline;
    &:link,
    &:visited {
      color: $color;
      text-decoration: underline;
    }

    &:active,
    &:focus,
    &:hover {
      color: $hover_color;
      text-decoration: underline;
    }
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
