$dev_path: "/wphp/web";
$prod_path: "/wphp";
$prod_or_dev_path: $dev_path;
//
// @if $prod_or_dev == "prod" {
//   $prod_or_dev_path: $prod_path;
// }


$lato: 'Lato', sans-serif;
$inter: 'Inter', sans-serif;
$cormorant_garamond: 'Cormorant Garamond', serif;
$eb-garamond: 'EB Garamond', serif;

// First set of colors
$color_red: rgb(166, 46, 63);
$color_red_dark: rgb(98, 54, 55);
// New variables to override the top ones l8r
$color_white: #fcfcfc;
$color_brown: rgb(48, 35, 22);
$color_salmon: rgb(234, 168, 154);
$color_beige: rgb(225, 216, 183);
$color_beige_light: rgb(243, 239, 226);
$color_grey_translucent: rgba(0, 0, 0, 0.5);


// Second set of colors
$color_2_brown: #73685B;
$color_2_darker_brown: #5c5349;
$color_2_tan: #ccb9a4;
$color_2_green: #D9DDCC;

$color_2_green_light: #F6F8F5;
$color_2_green_lighter: mix($color_2_green, $color_2_green_light, 50%);
$color_2_salmon: #DC8E7E;
$color_black: #050505;


// override settings from first set of colors.
$color_red: $color_2_brown;
$color_red_dark: $color_2_brown;
// $color_salmon: $color_2_darker_brown;
$color_beige: $color_2_tan;



$color_text: $color_black;
$color_body_background: $color_2_green_light;
$color_body_background_start: $color_2_green_light;
$color_body_background_end: $color_2_green_light;

$color_body_link: #8E3827;
$color_link: #8E3827;
$color_link_hover: #4F1F16;
$color_link_border: rgba($color_link, 0.4);
$color_link_border_hover: $color_link_hover;




$heading_color: $color_black;


$color_label: $color_2_darker_brown;
$well_color_start: $color_2_green;
$well_color_end: $color_2_green_light;

// dropdowns
$color_dropdown_background: $color_2_brown;
$color_dropdown_link: $color_white;

$color_dropdown_link_hover: $color_2_darker_brown;
$color_dropdown_background_hover: $color_2_salmon;

$color_grey_light: #fafafa;



$heading-font: $eb-garamond;
$serif: $eb-garamond;
$sans: $lato;



$desktop-width: 970px;

$color_dark_bg: #1C160F;



$box-shadow-sm: 0px 4px 8px rgba(0, 0, 0, 0.04),
0px 0px 2px rgba(0, 0, 0, 0.06),
0px 0px 1px rgba(0, 0, 0, 0.04);




