@charset "UTF-8";
/* Webfont: LatoLatin-Black */
@font-face {
  font-family: "LatoLatinWebBlack";
  src: url("/yarn/lato-font/fonts/lato-black/lato-black.woff2") format("woff2"), url("/yarn/lato-font/fonts/lato-black/lato-black.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: LatoLatin-Regular */
@font-face {
  font-family: "LatoLatinWeb";
  src: url("/yarn/lato-font/fonts/lato-normal/lato-normal.woff2") format("woff2"), url("/yarn/lato-font/fonts/lato-normal/lato-normal.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Cormorant Garamond SemiBold */
/* cormorant-garamond-600normal - latin */
@font-face {
  font-family: "CormorantGaramond-SemiBold";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Cormorant Garamond SemiBold "), local("Cormorant Garamond-SemiBold"), url("/yarn/typeface-cormorant-garamond/files/cormorant-garamond-latin-600.woff2") format("woff2"), url("/yarn/typeface-cormorant-garamond/cormorant-garamond-latin-600.woff") format("woff");
  /* Modern Browsers */
}
/* cormorant-garamond-700normal - latin */
@font-face {
  font-family: "CormorantGaramond-Bold";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Cormorant Garamond Bold "), local("Cormorant Garamond-Bold"), url("/yarn/typeface-cormorant-garamond/cormorant-garamond-latin-700.woff2") format("woff2"), url("/yarn/typeface-cormorant-garamond/cormorant-garamond-latin-700.woff") format("woff");
  /* Modern Browsers */
}
/* Webfont: LatoLatin-Black */
@font-face {
  font-family: "LatoLatinWebBlack";
  src: url("/yarn/lato-font/fonts/lato-black/lato-black.woff2") format("woff2"), url("/yarn/lato-font/fonts/lato-black/lato-black.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: LatoLatin-Regular */
@font-face {
  font-family: "LatoLatinWeb";
  src: url("/yarn/lato-font/fonts/lato-normal/lato-normal.woff2") format("woff2"), url("/yarn/lato-font/fonts/lato-normal/lato-normal.woff") format("woff");
  /* Modern Browsers */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Webfont: Cormorant Garamond SemiBold */
/* cormorant-garamond-600normal - latin */
@font-face {
  font-family: "CormorantGaramond-SemiBold";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Cormorant Garamond SemiBold "), local("Cormorant Garamond-SemiBold"), url("/yarn/typeface-cormorant-garamond/files/cormorant-garamond-latin-600.woff2") format("woff2"), url("/yarn/typeface-cormorant-garamond/cormorant-garamond-latin-600.woff") format("woff");
  /* Modern Browsers */
}
/* cormorant-garamond-700normal - latin */
@font-face {
  font-family: "CormorantGaramond-Bold";
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local("Cormorant Garamond Bold "), local("Cormorant Garamond-Bold"), url("/yarn/typeface-cormorant-garamond/cormorant-garamond-latin-700.woff2") format("woff2"), url("/yarn/typeface-cormorant-garamond/cormorant-garamond-latin-700.woff") format("woff");
  /* Modern Browsers */
}
html {
  position: relative;
  min-height: 100vh;
}

body {
  background-image: linear-gradient(0deg, #EEF2E1 0%, #EEF2E1 100%);
  color: #5c5349;
  font: "LatoLatinWeb", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 0;
  font-family: "LatoLatinWeb", sans-serif;
}
body > .container {
  flex: 1;
  flex-grow: 2;
  margin-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "CormorantGaramond-SemiBold", serif;
  color: #5c5349;
}

a {
  color: #A9695B;
}
a:link, a:visited {
  color: #A9695B;
}
a:active, a:focus, a:hover {
  color: #A9695B;
}

em,
strong {
  font: "LatoLatinWebBlack", sans-serif;
}

.container p {
  font-size: 1.5em;
  font-family: "CormorantGaramond-SemiBold", serif;
}

.container table p,
.container .panel p {
  font-size: 1em;
  font-family: "LatoLatinWeb", sans-serif;
}
.container table p:last-child,
.container .panel p:last-child {
  margin-bottom: 0;
}

/* Footer */
.footer {
  padding: 20px;
  background-color: #5c5349;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .container {
  padding-right: 15px;
  padding-left: 15px;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}
.footer a:link, .footer a:visited {
  color: #fff;
  text-decoration: underline;
}
.footer a:active, .footer a:focus, .footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer p {
  margin: 0;
  font-family: "LatoLatinWeb", sans-serif;
  font-size: 1em;
}
.footer strong {
  font-family: "CormorantGaramond-SemiBold", serif;
  font-weight: normal;
  font-size: 20px;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px 4px 0 0;
  background-color: #73685B;
  color: #fff;
}
.nav-tabs > li > a:active, .nav-tabs > li > a:focus, .nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
  text-decoration: none;
  background-color: #73685B;
  color: #fff;
}

.nav-tabs > li.active > a {
  text-decoration: none;
  background-color: #73685B;
  color: #fff;
}
.nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  text-decoration: none;
  background-color: #73685B;
  color: #fff;
}

/* Custom app styles */
label {
  font-weight: normal;
  color: #5c5349;
}
label.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

.well {
  background-image: linear-gradient(to bottom, #D9DDCC 0, #EEF2E1 100%);
}

/* tables */
table {
  color: black;
}

table thead th {
  color: #fff;
  background: #5c5349;
  border: #5c5349;
  font-weight: normal;
}
table thead th a {
  color: #fff !important;
}

.table-striped > tbody > tr {
  background: #e4e8d7;
}
.table-striped > tbody > tr:hover, .table-striped > tbody > tr:focus {
  background: #e4e8d7;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background: #EEF2E1;
}
.table-striped > tbody > tr:nth-of-type(2n+1):hover, .table-striped > tbody > tr:nth-of-type(2n+1):focus {
  background: #EEF2E1;
}
.table-striped > tbody > tr:nth-of-type(2n+1) a {
  color: #5c5349;
}

th:first-child,
td:first-child {
  width: 0.1%;
  white-space: nowrap;
}

table.tablesorter thead tr {
  white-space: nowrap;
}

table.tablesorter thead tr .header:after {
  content: "↕";
}

table.tablesorter thead tr .headerSortUp:after {
  content: "↑";
}

table.tablesorter thead tr .headerSortDown:after {
  content: "↓";
}

th.sorted.asc:after, a.asc:after {
  content: "↓";
}

th.sorted.desc:after, a.desc:after {
  content: "↑";
}

div.tab-content p {
  font-size: 14px;
  font-family: "LatoLatinWeb", sans-serif;
}

ul.columnated {
  list-style: none;
}

ul.columnated li {
  -webkit-column-break-inside: avoid;
  /* Chrome, Safari, Opera */
  page-break-inside: avoid;
  /* Firefox */
  break-inside: avoid;
  /* IE 10+ */
  position: relative;
  margin-left: 1em;
}

ul.columnated li:before {
  content: "•";
  position: absolute;
  left: -1em;
}

@media (max-width: 480px) {
  ul.columnated {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 481px) and (max-width: 768px) {
  ul.columnated {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) and (max-width: 992px) {
  ul.columnated {
    list-style: none;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 993px) {
  ul.columnated {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
div.homepage {
  margin: 0 auto;
  max-width: 80ex;
}

div.homepage img {
  max-width: 100%;
}

/* make the search form checkboxes less bad. */
div.checkbox, div.radio {
  width: 30%;
  float: left;
}

div.collection-complex > div:not(:last-child) {
  padding-top: 15px;
  border: 1px solid rgba(128, 128, 128, 0.31);
}

div.embedded-form {
  border: 1px solid lightgrey;
  padding-top: 15px;
  padding-right: 15px;
}

/* Select2 typeaheads are a bit short. */
span.select2 {
  width: 100% !important;
}

p.help-block {
  font-size: 16px;
  font-family: "LatoLatinWeb", sans-serif;
}
p.help-block a {
  text-decoration: underline;
}

.container > .panel:first-child {
  margin-top: 80px;
}

.container > .alert:first-child {
  margin-top: 20px;
}

/* Start panels and tables */
.panel-default {
  border: 5px #D9DDCC !important;
}
.panel-default > .panel-heading {
  background: #D9DDCC;
  color: black;
  font-family: "CormorantGaramond-SemiBold", serif;
  font-size: 20px;
}

.blog-panel a {
  display: block;
  width: 100%;
}
.blog-panel a .panel-default {
  background: #e4e8d7;
}
.blog-panel a .panel-heading {
  background: #D9DDCC;
  color: black;
  font-family: "CormorantGaramond-SemiBold", serif;
  font-size: 20px;
}
.blog-panel a:active .panel-heading, .blog-panel a:focus .panel-heading, .blog-panel a:hover .panel-heading {
  background: #eaa89a;
  color: black;
}

.page-header {
  margin-bottom: 0;
  border-bottom: 0;
}

.panel-body {
  background: #e4e8d7;
  font-size: 16px;
  font-family: "LatoLatinWeb", sans-serif;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #D9DDCC !important;
}

thead > tr > th {
  text-align: left;
  white-space: nowrap;
}

.table-bordered > tbody > tr > td a {
  color: #A9695B;
}
.table-bordered > tbody > tr > td a:link, .table-bordered > tbody > tr > td a:visited {
  color: #A9695B;
}
.table-bordered > tbody > tr > td a:active, .table-bordered > tbody > tr > td a:focus, .table-bordered > tbody > tr > td a:hover {
  color: #5c5349;
}

th {
  text-align: right;
}

.row {
  display: flex;
}

/* End tables and panels */
.btn-toolbar {
  margin-bottom: 1em;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-left: 0;
}

/*.btn-group {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5)
      border-radius: 4px;
}*/
input.btn-default,
input.btn-primary,
a.btn-default,
a.btn-primary {
  /* Rectangle 10: */
  background: #73685B;
  border: 1px solid #302316;
  /* Submit button exampl: */
  font-family: "LatoLatinWeb", sans-serif;
  line-height: 1em;
  font-size: 14px;
  text-shadow: none;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  box-shadow: none;
  padding-top: 10px;
  padding-bottom: 8px;
  transition: 0.125s ease-in-out all;
}
input.btn-default:link, input.btn-default:visited,
input.btn-primary:link,
input.btn-primary:visited,
a.btn-default:link,
a.btn-default:visited,
a.btn-primary:link,
a.btn-primary:visited {
  color: #fff;
}
input.btn-default:first-child, input.btn-default:active, input.btn-default:focus, input.btn-default:hover,
input.btn-primary:first-child,
input.btn-primary:active,
input.btn-primary:focus,
input.btn-primary:hover,
a.btn-default:first-child,
a.btn-default:active,
a.btn-default:focus,
a.btn-default:hover,
a.btn-primary:first-child,
a.btn-primary:active,
a.btn-primary:focus,
a.btn-primary:hover {
  background-color: #eaa89a;
  color: black;
  border-color: #73685B;
}
input.btn-default:first-child,
input.btn-primary:first-child,
a.btn-default:first-child,
a.btn-primary:first-child {
  color: black;
}
input.btn-default:first-child:active, input.btn-default:first-child:focus, input.btn-default:first-child:hover,
input.btn-primary:first-child:active,
input.btn-primary:first-child:focus,
input.btn-primary:first-child:hover,
a.btn-default:first-child:active,
a.btn-default:first-child:focus,
a.btn-default:first-child:hover,
a.btn-primary:first-child:active,
a.btn-primary:first-child:focus,
a.btn-primary:first-child:hover {
  color: #fff;
}

/* Start navbar (header) */
@media (min-width: 970px) {
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navbar-default {
  background: #5c5349;
  color: header_color;
  border: 0;
  font-family: "CormorantGaramond-SemiBold", serif;
  font-weight: 300;
  font-size: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  border-radius: 0;
}
.navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle:active .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #73685B !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (min-width: 970px) {
  .navbar-nav > li {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  .navbar-nav > li > a {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 10px 20px 10px;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  height: 75px;
}

.navbar-default a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: #eaa89a;
  color: #5c5349;
}

.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
  font-size: 18px;
}
@media (max-width: 1000px) {
  .navbar-brand, .navbar-nav > li > a {
    font-size: 15px;
  }
}

.navbar-default .navbar-collapse {
  margin: 0;
}

.navbar-nav:first-child > li > a {
  padding: 10px 20px 10px 0;
}
.navbar-nav:first-child > li > a > img {
  max-width: 220px;
}
@media (max-width: 1000px) {
  .navbar-nav:first-child > li > a > img {
    max-width: 180px;
  }
}

.navbar-default .navbar-nav:first-child > li > a:active,
.navbar-default .navbar-nav:first-child > li > a:focus,
.navbar-default .navbar-nav:first-child > li > a:hover {
  background-color: transparent;
}

.dropdown-menu {
  background-color: #73685B;
  border: 0;
  border-radius: 0;
  font-family: "LatoLatinWeb", sans-serif;
}
.dropdown-menu > li a,
.dropdown-menu > li a:link,
.dropdown-menu > li a:visited {
  color: #fff !important;
}
.dropdown-menu > li a:active,
.dropdown-menu > li a:focus,
.dropdown-menu > li a:hover {
  color: #fff !important;
}
.dropdown-menu > li.divider {
  background-color: #fff;
}
.dropdown-menu > li a:active, .dropdown-menu > li a:focus, .dropdown-menu > li a:hover {
  background-image: none;
  background-color: #eaa89a;
}

@media (max-width: 768px) {
  #navbar {
    display: block;
  }

  #navbar[aria-expanded=false] > ul.nav {
    display: none;
  }

  .navbar-default .navbar-nav {
    float: none;
    width: 100%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 0 !important;
    height: auto;
  }
}
/* End navbar */
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px 6px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  height: 35px;
  background: #CCB9A4;
  border: 1px solid #5c5349;
  color: black;
}
.pagination > li > a:active, .pagination > li > a:focus, .pagination > li > a:hover,
.pagination > li > span:active,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #eaa89a;
  border: #5c5349 1px solid;
  color: #fff;
}
.pagination > li.disabled span {
  background-color: #5c5349;
  color: #CCB9A4;
  border: 1px solid #73685B;
}
.pagination > li.disabled span:focus, .pagination > li.disabled span:hover {
  background-color: #5c5349;
  color: #CCB9A4;
  border: 1px solid #73685B;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: #eaa89a;
  border: #73685B 1px solid;
  color: black;
}

.splash_image img {
  display: block;
  filter: grayscale(50%);
}

img {
  width: 100%;
  height: 100%;
}

.panel-image {
  height: 150px;
  background-size: cover;
  mix-blend-mode: multiply;
}

.blog-1 .panel-image {
  background-image: url("../images/Mother-Shipton.jpg");
  background-position: center;
}

.blog-2 .panel-image {
  background-image: url("../images/hardcoded_blog_2.png");
}

.blog-3 .panel-image {
  background-image: url("../images/hardcoded_blog_3.png");
  background-position-x: center;
  background-position-y: 38%;
}

.blog-1 > .panel-default,
.blog-2 > .panel-default,
.blog-3 > .panel-default {
  background-color: #e4e8d7;
}
.blog-1 a:active, .blog-1 a:focus, .blog-1 a:hover,
.blog-2 a:active,
.blog-2 a:focus,
.blog-2 a:hover,
.blog-3 a:active,
.blog-3 a:focus,
.blog-3 a:hover {
  text-decoration: none;
}

.comments-expand .btn {
  white-space: normal;
}

/*# sourceMappingURL=base.css.map */
