

<div class="comment-interface">
    {% embed 'partial/accordion.html.twig' %}
    {% block summary %}Suggestions and Comments for <i>{{  entity|u.trim(60) }}</i>{% endblock %}
    {% block content %}
        {% include '@NinesFeedback/comment/comment-form.html.twig' with { 'entity': entity } %}
        {% if is_granted('ROLE_COMMENT_ADMIN') %}
            {% include '@NinesFeedback/comment/comments-admin.html.twig' %}
        {% else %}
            {% include '@NinesFeedback/comment/comments-view.html.twig' %}
        {% endif %}
    {% endblock %}
    {% endembed %}
</div>



