{% extends '@!NinesBlog/page/show.html.twig' %}


{% block body %}
    <div class="blog-content">
        <div class="page-header">
            {{ block('pageheader') }}
        </div>
        {{ page.content|raw }}
    </div>
{% endblock %}