{% extends 'base.html.twig' %}

{% block body %}

    <div class='row'>
        <div class="col-sm-12">

            {% if homepage %}
                {{ homepage.content|raw }}
            {% endif %}

            <h2>Spotlights</h2>
        </div>
    </div>

    <div class='row'>

        {% for spotlight in spotlights %}
            <div class="col-sm-4 blog-panel">
                {% if spotlight is not null %}
                    <div class="panel panel-default">
                        <a href="{{ path('nines_blog_post_show', {'id': spotlight.id}) }}">
                            <div class="panel-heading">{{ spotlight.title }}</div>
                        </a>
                        <div class='panel-body'>{{ spotlight.excerpt|raw }}</div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </div>

{% endblock %}
