{% extends 'base.html.twig' %}

{% block title %}Osborne MARC Details{% endblock %}

{% block pageheader %}
    <h1>Osborne MARC Details</h1>
{% endblock %}

{% block body %}

    {% embed 'partial/table.html.twig' %}
        {% set data = manager.getData(osborneMarc) %}
        {% block tbody %}
            {% for field in data %}
                <tr>
                    <th>{{ manager.getFieldName(field) }}</th>
                    <td>{{ field.getFieldData() }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
