{% extends 'base.html.twig' %}

{% block title %}Osborne MARC Details{% endblock %}

{% block pageheader %}
    <h1>Osborne MARC Details</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('resource_osborne_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </div>
    </div>
    {% embed 'partials/table.html.twig' %}
        {% set data = manager.getData(osborneMarc) %}
        {% block tbody %}
            {% for field in data %}
                <tr>
                    <th>{{ manager.getFieldName(field) }}</th>
                    <td>{{ field.getFieldData() }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
