{# 
    Jump to ID form. 
    parameters: 
        route_name - the name of the route that provides a jump action.
#}
<form method="get" class="form-horizontal" action="{{ path(route_name) }}">
    <fieldset>
        <legend>Jump to ID</legend>
        <div class='form-group'>
            <label class='col-sm-2 control-label' for='q'>Jump to ID</label>
            <div class='col-sm-4'>
                <div class='input-group'>
                    <input type='text' name='q' id='q' class='form-control' value=''>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class='glyphicon glyphicon-share-alt'></span>
                            Jump
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <p class="help-block">Enter a numeric database ID to jump directly to the entry.</p>
    </fieldset>
</form>
