
.nines_blog_post_show, .nines_blog_page_show{

  // Hide the main page header, since we move it
  // into the article content
  .container > .page-header{
    display:none;
  }

  .page-header{
    margin:0;
    text-align:center;
    max-width: 80%;
    margin:0 auto;
  }

  .blog-content{
    max-width: 55rem;
    margin:0 auto;
    font-family: $serif;
    background: $color_grey_light;
    border: 1px solid #F2F2F2;
    box-shadow: $box-shadow-sm;
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 4.5rem;
  }

  p{
    font-size: 1.175rem;
    line-height: 1.6;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
  }
}

