{% extends 'base.html.twig' %}

{% block pageheader %} 
    <h1>Geonames</h1>
{% endblock %} 

{% block body %}

    {% embed 'geonames/partials/header.html.twig' %}
    {% endembed %}

    {% embed 'firm/partials/page.html.twig' with {'firms': firms} %}
    {% endembed %}

{% endblock %}
