{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>{{ geoname }}</h1>
{% endblock %} 

{% block body %}

    {% embed 'geonames/partial/header.html.twig' %}
    {% endembed %}

    {% embed 'firm/partial/page.html.twig' with {'firms': firms} %}
    {% endembed %}

{% endblock %}
