{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>{{ geoname.name }}</h1>
{% endblock %}

{% block body %}

    {% include 'geonames/partial/header.html.twig' with {'expandedHeader': true} %}


{% endblock %}

