{% extends '::base.html.twig' %}

{% block pageheader %} 
    <h1>Title Export <small>in {{ format|upper }} format</small></h1>
{% endblock %} 

{% block body %}
    <ul class="list-group">
        {% for title in titles %}
            <li class="list-group-item">{{ include('AppBundle:partials/citation:' ~ format ~ '.html.twig') }}</li>
            {% endfor %}
    </ul>
{% endblock %}
