{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Post Status List</h1>
{% endblock %}

{% block body %}

    <div class='btn-toolbar'>
        {% if is_granted('ROLE_BLOG_ADMIN') %}
            <div class='btn-group ms-auto'>
                <a href="{{ path('nines_blog_post_status_new') }}" class="btn btn-default">
                    <span class="bi bi-plus-lg"></span> New
                </a>
            </div>
        {% endif %}
    </div>

    {% embed '@NinesUtil/term/partial/index.html.twig' with {
        'terms': post_statuses,
        'path': 'nines_blog_post_status_show',
        'caption': post_statuses.getTotalItemCount ~ ' total',
    } %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(post_statuses) }}
    </div>

{% endblock %}
