# define the hosts
domain.name:
     stage: ~
     become: ~
     deploy_path: ~
     user: ~

# The settings key must start with a dot(.) to prevent it being treated as
# a host in the inventory.
.settings:
    application: wphp
    repository: ~
    branch: main
    shared_files:
        - .env.local
    shared_dirs:
        - var/log
        - var/sessions
        - public/images/blog
    writable_dirs:
        - var/log
        - var/sessions
        - var/cache
        - public/images/blog
    composer_options: 'install --no-progress --optimize-autoloader --no-interaction'
    site_path: /wphp
    context: system_u:object_r:httpd_sys_rw_content_t:s0
    ignore_tables:
        - en
        - estc_fields
        - jackson_biblio
        - marc_subfield_structure
        - marc_tag_structure
        - orlando_biblio
        - osborne_marc
