.citations:not(.tab-container){
  border: 1px dashed #c9c9c9;
  background: #fafafa;
  user-select:all;
}

.tab-container{
  background: $color_white;
  border-radius:4px;
}

.citation{
  font-size:1rem;
  padding: ms(-1) ms(1) ms(-2) ms(1);
  margin-left: 1.5rem;
  text-indent: -1.5rem;

}

// Special bibtex handling, since it's a codeblock

#bibtex > div{
  // Adjust the padding in the Cite this Page view
  padding: ms(-1) ms(1) ms(-2) ms(1);
}

// Remove hanging indent that causes scroll issues
.citation > pre{
  text-indent:0;
  margin-left: -1.5rem;
}


