.citations:not(.tab-container){
  border: 1px dashed #c9c9c9;
  background: #fafafa;
  user-select:all;
}

.tab-container{
  @extend .cardlike;
}

.citation{
  font-size:1rem;
  padding: ms(-1) ms(1) ms(-2) ms(1);
  margin-left: 1.5rem;
  text-indent: -1.5rem;
}

// Small adjustment for hacking the bibtex citation

#bibtex > div{
  padding: ms(-1) ms(1) ms(-2) ms(1);
}


