$footer_color: $color_white;
$footer_background: $color_dark_bg;
$footer_link: $color_white;
$footer_link_hover: $color_white;


/* Footer */
.footer {
  margin-top:auto;
  background-color: $footer_background;
  color: $footer_color;
  font-family: $serif;
  font-size: 1rem;
  padding: ms(0) ms(-1);
  a{
    &:link, &:visited, &:active{
      color:transparentize($color_white, 0.2);
      border-bottom:none;
    }
    &:hover{
      color: $color_white;
    }
  }
  .container {
    max-width:1400px;
    width:unset;
    padding:0;
    &:before, &:after {
      content: unset;
    }
  }
}

.footer_top,
.footer_bottom,
.footer_menus{
  display:flex;
  flex-direction:row;
}

.footer_top,
.footer_bottom{
  justify-content:space-between;
  padding:ms(-1) 0;
}

.footer_bottom{
  border-top:1px solid $color_white;
  &:after{
    content:"";
    height:15rem;
    width:100%;
    display:block;
    background:purple;
  }
}

.footer_menus{
  flex: 1;
  ul{
    margin-left: ms(0);
    li{
      padding: 0 0.1rem;
      & + li{
        margin-top: ms(-3);
      }
    }
  }
}





/* Social icons stuff */

.social-icons{
  list-style:none;
  display:flex;
  flex-wrap:wrap;
  font-size: 2.1rem;
  justify-content:space-evenly;
  a{
    padding:0 1rem;
    &:hover{
      i {
        transition: color 0.2s ease-in-out
      }

      /* facebook, twitter, and instagram colours
        Thanks to this gist: https://gist.github.com/pololee/c13213df6f560cfd2075 */
      .fa-facebook-square { color: #5d70c1; }
      .fa-twitter-square{ color: #4099FF;}
      .fa-instagram-square { color: #E1306C;}

      .fa-podcast{ color: rgb(178, 81, 224);  }

      /* Spotify green from Branding Guidelines:
      https://developer.spotify.com/branding-guidelines/ */
      .fa-spotify{ color: #1DB954; }


    }
  }
}

