$ms-ratio: $minor-third;
$modscale-start: 6;

// Add the modular scale headings
@include dhil-headers;

h1,h2,h3,h4,h5{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1{
  margin-bottom: ms(0);
  letter-spacing: -1px;
}

h2,h3,h4,h5{
  margin-top: ms(-3);
  margin-bottom:ms(-1);
}