
/* Start navbar (header) */

// @media (max-width: 480px) {
//   .navbar-toggle {
//     display: none;
//   }
// }

#navbar {
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}




.navbar-default {
  background: $header_background;
  color: $header_color;
  border: 0;
  font-family: $serif;
  font-weight: 800;
  font-size: 20px;
  box-shadow: 0 2px 4px 0 $color_grey_translucent;
  margin: 0;
  border-radius: 0;

  .navbar-toggle {
    &:active,
    &:hover,
    &:focus {
      background-color: $header_color;
      .icon-bar {
        background-color: $color_red_dark !important;
      }
    }
    .icon-bar {
      background-color: $header_color;
    }
  }
}

.navbar-nav > li {
  @include desktop {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    > a {
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      display: flex;
      border-bottom:none;
      padding: 20px 10px 20px 10px;
    }
  }
}
.navbar-default .navbar-nav > li > a {
  color: $header_link_color;
  height: 75px;
  border-bottom:none;
}

.navbar-default a {
  color: $header_link_color;
  border-bottom:none;
}

a.dropdown-toggle::after {
  content: "▾";
  padding-left: 0.3em;
  font-size: small;
}


// Header menu items that are active or hover.
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: $header_link_background_hover;
  color: $header_link_color_hover;
  border-bottom:none;
}

.navbar-brand, .navbar-nav > li > a {
  text-shadow: none;
  font-size: 18px;
  border-bottom:none;
  @media (max-width: 1000px) {
    font-size: 15px;
  }
}

.navbar-default .navbar-collapse {
  margin: 0;
}

.navbar-nav:first-child > li > a {
  padding: 10px 20px 10px 0;
  > img {
    max-width: 220px;
    @media (max-width: 1000px) {
      max-width: 180px;
    }
  }
}

.navbar-default .navbar-nav:first-child > li > a:active,
.navbar-default .navbar-nav:first-child > li > a:focus,
.navbar-default .navbar-nav:first-child > li > a:hover {
  background-color: transparent;
}


.dropdown-menu {
  background-color: $color_dropdown_background;
  border: 0;
  border-radius: 0;
  font-family: $sans;

  > li {
    // @include link($color_dropdown_link, $color_dropdown_link_hover);
    a,
    a:link,
    a:visited {
      color: $color_dropdown_link !important;
    }

    a:active,
    a:focus,
    a:hover {
      color: $color_dropdown_link !important;
    }

    &.divider {
      // height: 1px;
      // margin: 9px 0;
      // overflow: hidden;
      background-color: $color_white;
    }

    a {
      &:active,
      &:focus,
      &:hover {
        background-image: none;
        background-color: $color_dropdown_background_hover;
      }
    }
  }
}

@media (max-width: 768px) {
  #navbar {
    display: block;
  }
  #navbar[aria-expanded='false'] > ul.nav{
    display:none;
  }
  .navbar-default .navbar-nav {
    float: none;
    width: 100%;
    // padding: 0;

    > li > a {
      padding: 0 !important;
      height: auto;
    }
  }
}


.navbar-nav > li > a {
  font-weight:400;
  font-variant: all-small-caps;
  font-size: 1.5rem;
}

/* End navbar */