

.pagination{
  display:flex;
  background: #fcfcfc;
  align-items:center;
 * {
   float:none!important;
 }
}

.pagination > li {

  > a,
  > span {
    padding: ms(-1) ms(0);
    margin-left:0;
    width:100%;
    height:100%;
    display:block;
    line-height: 1.42857143;
    text-decoration: none;
    background:inherit;
    border: 1px solid transparent;
    color: rgba($color_black, 0.7);
    &:hover,
    &:focus{
      color: rgba($color_black, 0.9);
      border:1px solid transparent;
      background:inherit;
      background: #e2dbd3;
    }
  }

  &.disabled {

    cursor: not-allowed;
    a, span {

      background:inherit;
      border-color:transparent;
      color: rgba($color_black, 0.3);
    }
  }

}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background: inherit;
  border: inherit;
  color: #A9695B;
  font-weight:bold;
}