

/* Selectors are nested to have higher specificity so that
they stand a chance at winning against the highly specific selectors
for bootstrap tables
 */


.tbl-container{
  overflow-x:auto;
  .table {
    color: $color_black;
    font-size:0.925rem;

    //striped tables.
    &.table-striped{
      & > tbody > tr{
        background: $color_table_background_even;
        &:hover,
        &:focus {
          background: $color_table_background_hover_even;
        }
        &:nth-of-type(odd) {
          background: $color_table_background_odd;
          border:none;
          &:hover,
          &:focus {
            background: $color_table_background_hover_odd;
          }
        }
      }
    }
    // table head
    thead{
      th{
        color: $table_head_color;
        background: $table_head_background_color;
        border: $table_head_border_color;
        a {
          color: $table_head_color;
        }
      }
      // Regular data tables
      & + tbody{
        td{
          border-top:none;
          max-width: 25rem;
        }
      }

      // Sortable table headings
      th.sortable > a {
        border-bottom:none;
        &:after {
          content: "↕";
          opacity: 0.4;
          margin-left: 0.3rem;
          display: inline-block;
          margin-top: 3px;
          position:relative;
          top:1px;
        }

        &.asc, &.desc {
          &:after {
            opacity: 1;
            font-size:0.9em;
            top: 0px;
          }
        }
        &:hover{
          &:after{
            opacity:0.8;
            transition: opacity 0.2s ease-in-out;
          }
        }

        &.asc {
          &:after {
            content: "↓";
          }
        }

        &.desc {
          &:after {
            content: "↑"
          }
        }
      }
    }

    // table body
    tbody{
      & > tr:first-child{
        th, td{
          border-top:none;
        }
      }
      th{
        text-align:right;
      }
    }


    // table row
    tr{
      padding:0 ms(-1);
      & > td, th{
        padding: ms(-1) ms(0);
        &:first-child{
          width: 0.1%;
          white-space: nowrap;
        }
      }
    }

    th{
      text-align: left;
      white-space: nowrap;
    }
    th, td{
      &.numeric{
        text-align:right;
      }
    }
  }
}

td ul{
  list-style-type:none;
  padding-left:0;
  margin-left:0;
  li + li{
    margin-top: .25rem;
  }
  &.double-list{
    columns: 2;
  }
}
