

/* Selectors are nested to have higher specificity so that
they stand a chance at winning against the highly specific selectors
for bootstrap tables
 */

// tables

$color_table_background_odd:  #F9FAFA;
$color_table_background_even: white;

$table_head_color: $color_black;
$table_head_background_color: #e2dbd3;
$table_head_border_color: #e2dbd3;
$table_body_border_color: $color_grey_light;

$table_body_link_color: $color_link;
$table_body_link_color_hover: $color_link_hover;

$color_table_background_hover_odd: darken($color_table_background_odd, 5%);
$color_table_background_hover_even: darken($color_table_background_even, 5%);

@import '../../yarn/dhilux/scss/a11y_tables';

.tbl-container{

  margin-bottom: ms(0);
  &.vtable .tbl-overflow{
    // The height here is more-or-less
    // a magic number: the tbl-overflow doesn't account for
    // the tbl-info (heading, footer), so it's a best attempt
    // at getting the table to fit comfortably into the viewport
    max-height: 76.5vh;
    resize: vertical;
    // When the resize triggers, unset the max-height

  }
  & > .tbl-info{
    display:flex;
    justify-content:space-between;
    padding: ms(-1) 0;
    border-left:none;
    border-right:none;
    font-size: 0.925em;
    flex-wrap:wrap;
    &.tbl-info-footer{
      border-bottom:none;
    }
    &.tbl-info-header{
      border-top:none;
    }
  }

  .tbl-overflow{
    max-width:100%;
    width:100%;
    overflow-x:auto;

  }

  p.count{
    margin:0;
    color: $color_grey_translucent;
    align-self:center;
  }

  .table {
    color: $color_black;
    font-size:0.925rem;
    margin-bottom:0;
    //striped tables.
    &.table-striped{
      border: 1px solid $color_grey_light;
      & > tbody > tr{
        background: $color_table_background_even;
        &:hover,
        &:focus {
          background: $color_table_background_hover_even;
        }
        &:nth-of-type(odd) {
          background: $color_table_background_odd;
          border:none;
          &:hover,
          &:focus {
            background: $color_table_background_hover_odd;
          }
        }
      }
    }
    // table head
    thead{
      & > tr{
        position:sticky;
        top:-1px;
      }
      th{
        color: $table_head_color;
        background: $table_head_background_color;
        border: $table_head_border_color;
        white-space: nowrap;
        a {
          color: $table_head_color;
        }
      }
      // Regular data tables
      & + tbody{
        td{
          border-top:none;
        //  max-width: 25rem;
        }
      }

      // Sortable table headings
      th.sortable > a {
        border-bottom:none;
        &:after {
          content: "↕";
          opacity: 0.4;
          margin-left: 0.3rem;
          display: inline-block;
          margin-top: 3px;
          position:relative;
          top:1px;
        }

        &.asc, &.desc {
          &:after {
            opacity: 1;
            font-size:0.9em;
            top: 0px;
          }
        }
        &:hover{
          &:after{
            opacity:0.8;
            transition: opacity 0.2s ease-in-out;
          }
        }

        &.asc {
          &:after {
            content: "↓";
          }
        }

        &.desc {
          &:after {
            content: "↑"
          }
        }
      }
    }

    // table body
    tbody{
      & > tr:first-child{
        th, td{
          border-top:none;
        }
      }
      th{
        width:12rem;
        .help{
          text-align:left;
          margin-top:1rem;
          font-size: 0.8rem;
          font-weight: 300;
        }
      }
    }


    // table row
    tr{
      padding:0 ms(-1);
      & > td, th{
        padding: ms(-1) ms(0);
        &:first-child{
       //   width: 0.1%;
        //  white-space: nowrap;
        }
      }
    }

    th, td{
      min-width: 6rem;
      &.numeric{
        text-align:right;
      }
    }
  }

  .pagination{
    margin:0;
  }
}

.table p{
  margin:0;
}

th[data-toggle="popover"]{
  cursor: help;
}


td ul{
  list-style-type:none;
  padding-left:0;
  margin-left:0;
  li + li{
    margin-top: .25rem;
  }
  &.double-list{
    columns: 2;
  }
}



