{% extends 'base.html.twig' %}

{% block title %}Edit Firm{% endblock %}

{% block body %}
    <h1>Edit Firm</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input type="submit" value="Update" class="btn btn-primary"/>
            <a href="{{ path('firm_show', { 'id': firm.id }) }}" class="btn btn-warning">Cancel</a>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}

