{% extends 'base.html.twig' %}

{% block title %}Related Title List{% endblock %}

{% block pageheader %}
    <h1>Related Title List</h1>
{% endblock %}

{% block body %}

    {% embed 'related_title/partial/table.html.twig' %}
    {% endembed %}


{% endblock %}
