{% extends 'base.html.twig' %}

{% block title %}Related Title List{% endblock %}

{% block pageheader %}
    <h1>Related Title List</h1>
    <p class="count">
        Displaying {{ related_titles|length }} related_titles of {{ related_titles.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    {% embed 'related_title/partial/table.html.twig' %}
    {% endembed %}


{% endblock %}
