{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>Title Export <small>in {{ format|upper }} format</small></h1>
{% endblock %}

{% block body %}
    <div class="list-group">
        {% for title in titles %}
            <div class="list-group-item">{{ include('partials/citation/' ~ format ~ '.html.twig') }}</div>
        {% endfor %}
    </div>
{% endblock %}
