{# Requires
    title
    record
    type
    url
    all?
#}
{% set isTitle = type == 'title' %}

{% set allStyles = {
    'wphp': 'WPHP',
    'mla': 'MLA',
    'apa': 'APA',
    'chicago': 'Chicago/Turabian',
    'bibtex': 'BibTex'
} %}

{% set stylesToUse = isTitle ? allStyles : allStyles|first %}

<div class="title-bibliographies">
    <h2>Citations</h2>
    <ul class="nav nav-tabs">
        {% for style in stylesToUse|keys %}
            <li{% if loop.first %} class="active"{% endif %}>
                <a data-toggle="tab" href="#{{ style }}">{{ stylesToUse[style] }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content citations">
        {% for style in stylesToUse|keys %}
            <div id="{{ style }}" class="tab-pane fade{% if loop.first %} in active{% endif %}">
                <div>
                    <p class="citation">
                        {% include 'partial/citation/' ~ style ~ '.html.twig' %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>