{% extends 'base.html.twig' %}

{% block pageheader %}
    <h1>{{ heading }}</h1>
    {% if persons|length > 0 %}
        Displaying {{ persons|length }} persons of {{ persons.getTotalItemCount }} total that need to be final checked.
    {% else %}
        No persons found!
    {% endif %}
{% endblock %}

{% block body %}
    <p class="explanation">These persons have not been final checked.</p>

    {% if persons|length > 0 %}


        {% include 'person/table.html.twig' with {'people': persons} %}

    {% endif %}

{% endblock %}
